
.vs/we.cannot.go.back_we.have.gone.too.far/v16/.suo
.vs/slnx.sqlite
.vs/we.cannot.go.back_we.have.gone.too.far/config/applicationhost.config
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/928370a2-73c8-4f29-8f19-eaae9d054e66.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/read.lock
.vs/we.cannot.go.back_we.have.gone.too.far/v17/.suo
.vs/VSWorkspaceState.json
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/1b4232c6-f262-47f6-86e2-6b88ea09f5d4.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/8311c9ae-91a6-4c2c-b91a-bb7e14a0ea05.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/ac697c4b-a8f1-4684-8d52-7f76b6d1e804.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/ff3a93eb-5d77-4e15-bf42-84d9177c6a3b.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/73f0662f-451d-4652-a9a7-c5c7bbf8bbf2.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/caabd5f3-33e9-4431-8780-50e5121cc7de.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/d58fb413-ae87-4cf7-b6a4-29108f2ba769.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/e36fbad2-e8b1-4333-b9df-a5ac4d15c4dd.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/7869f8a4-6e63-4f5b-b621-95db214e6469.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/da217578-8268-44ea-8142-c902a47a2aff.vsidx
*.vsidx
