
.vs/we.cannot.go.back_we.have.gone.too.far/v16/.suo
.vs/slnx.sqlite
.vs/we.cannot.go.back_we.have.gone.too.far/config/applicationhost.config
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/928370a2-73c8-4f29-8f19-eaae9d054e66.vsidx
.vs/we.cannot.go.back_we.have.gone.too.far/FileContentIndex/read.lock
.vs/we.cannot.go.back_we.have.gone.too.far/v17/.suo
